.user {
  margin-top: 32px;
  border: 1px solid #bdbdbd;
  padding: 16px;
}

.user-name {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.user-username {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.user-email {
  display: block;
  font-style: italic;
  margin-bottom: 10px;
}

.user-company,
.user-address {
  padding-left: 16px;
  margin-bottom: 10px;
}

.user-company-signature,
.user-address-signature {
  font-weight: bold;
}

.user-phone {
  margin-bottom: 10px;
}

.user-website {
  display: block;
  margin-bottom: 10px;
}
